.navbar-custom { 
    background-color: #ffd1dc; 
} 
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: #ff527c; 
} 
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,82,124, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.gap {
    background-color: #ffd1dc;
    padding: 30px 30px 30px 50px;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    min-width: 500px;
    background-image: url('./images/IndexBanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title, .description {
    color: #ff527c;
}
body{
    background-color: #ffd1dc;
    color:#ff527c
}
h1,h2,h4,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a, a:hover{
    color: #ff527c;
}
.questions {
    background-color: #ffd1dc;
    color: #ff527c;
    cursor: pointer;
    padding: 18px 18px 18px 50px;
    padding-left: 10%;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .questions:hover {
    background-color: #ff527c;
    color: #ffd1dc;
}
.answers {
    padding: 0 18px;
    background-color: #ffd1dc;
    display: none;
    overflow: hidden;
    padding-left: 10%;
}
button {
    background-color: #ffd1dc;
    border: none;
    color: #ff527c;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
button::before, button::after {
    box-sizing: inherit;
    position: absolute;
    content: '';
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
  
button::after {
    bottom: 0;
    right: 0;
}
  
button::before {
    top: 0;
    left: 0;
}
  
button:hover::before, button:hover::after {
    width: 100%;
    height: 100%;
}
  
button:hover::before {
    border-top-color: #ff527c;
    border-right-color: #ff527c;
    transition: width 0.3s ease-out, height 0.3s ease-out 0.3s;
}
  
button:hover::after {
    border-bottom-color: #ff527c;
    border-left-color: #ff527c;
    transition: border-color 0s ease-out 0.6s, width 0.3s ease-out 0.6s, height 0.3s ease-out 1s;
}
input[type=email], select {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffd1dc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text], select {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffd1dc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #ff527c;
    color: #ffd1dc;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ff527c;
}
textarea{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ffd1dc;
    border-radius: 4px;
    box-sizing: border-box;
}
@media(max-width:1000px){
    .show-picture{
      display: none;
    }
  }
  .tipLinks{
    position: relative;
    display: inline-block;
}
.tipLinksDropdownContent{
    display: none;
    position: absolute;
    background-color: #ffd1dc;
}
.tipLinksDropdownContent a {
    color: #ff527c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.tipLinks:hover .tipLinksDropdownContent {
    display: block;
}
.windowsvmInfo{
    display: none;
}
.windowsvm:hover + .windowsvmInfo{
    display: block;
}

.drop-down {  
    position: relative;   
    display: inline-block;     
    width: auto;        
    margin-top: 0;    
    font-family: verdana;     
    }       
    .drop-down select {    
    display: none;     
    }       
    .drop-down .select-list {    
    position: absolute;      
    top: 0;       
    left: 0;      
    z-index: 1;     
    margin-top: 40px;     
    padding: 0;          
    background-color: #ffd1dc;       
    }       
    .drop-down .select-list li {    
    display: none;       
    }     
    .drop-down .select-list li span {   
    display: inline-block;       
    min-height: 40px;         
    min-width: 280px;       
    width: 100%;         
    padding: 5px 15px 5px 35px;      
    background-color: #ffd1dc;      
    background-position: left 10px center;    
    background-repeat: no-repeat;        
    font-size: 16px;        
    text-align: left;        
    color: #ff527c;         
    opacity: 0.7;       
    box-sizing: border-box;      
    }      
    .drop-down .select-list li span:hover,   
    .drop-down .select-list li span:focus {      
    opacity: 1;      
    } 
.paypal5SFW{
    display: none;
}